.footer {
  font-size: 1.6rem;
  font-weight: 300;
  height: calc(100% - 146px);
}

.footer__child {
  height: 146px;
  padding: 4rem 2rem;
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer__link {
  color: $color-secondary !important;
  &:hover {
    color: $color-tertiary !important;
  }
}

.footer__icon {
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
}
