.footer {
  font-size: 1.6rem;
  font-weight: 300;
  height: calc(100% - 146px);

  &__child {
    height: 146px;
    padding: 4rem 2rem;
    text-align: center;
    background-color: $color-primary;
    color: $color-white;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__link {
    color: $color-secondary !important;
    &:hover {
      color: $color-tertiary !important;
    }
  }

  &__icon {
    margin-top: 1rem;
    height: 3rem;
    width: 3rem;
  }
}
