input[type="text"] {
  font-size: 1.8rem;
  outline: $color-grey;
  border: 1px solid $color-grey;
  border-radius: 1.2rem;
  padding: 1rem 1rem;
  margin-right: -2rem;
  width: auto;
}

.checkbox {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox:checked + label {
  color: $color-secondary;
  text-decoration: line-through;
}

label {
  cursor: pointer;
}
