.todo {
  background: $color-background-todo;
  color: $color-white;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  width: 100%;
  max-width: 30rem;
  min-width: 20rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__close {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  color: $color-secondary;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $color-tertiary;
  }
}
