@use "../base/colors";

button {
  text-decoration: none;
  border: none;
  height: 4.3rem;
  padding: 1rem 1.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: colors.$color-primary;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
  background: colors.$color-secondary;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    background: colors.$color-tertiary;
  }
  &:active {
    background: colors.$color-quaternary;
  }
  &:disabled {
    background: colors.$color-grey;
    color: colors.$color-white;
    cursor: not-allowed;
  }
}
