// Main Colors
$color-white: #fff;
$color-grey: #c4c4c4;
$color-background: #f5f5f7;
$color-background-todo: #443a98;
$color-primary: #29206a;
$color-secondary: #1ac283;
$color-tertiary: #1dfbbb;
$color-quaternary: #008a61;
$color-black: #000000;
$color-error: #ed2939;
