@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
}

.header-primary {
  font-size: 3.6rem;
  font-weight: 600;
}

.header-secondary {
  font-size: 2.6rem;
  font-weight: 600;
}

.body-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.6rem;
}
